* {
  font-family: "PingFang SC";
  padding: 0;
  margin: 0;
}

.container {
  background: #242323;
  color: #c0bdbd;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.searchbar {
  background: #242323;
  color: #c0bdbd;
  border: none;
  outline: none !important;
  margin-top: -5%;
  margin-left: -5%;
  width: 100%;
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
}

.time {
  font-size: 4rem;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.date {
  display: inline;
  font-size: 2.5rem;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 800ms, visibility 800ms background-color 800ms;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #c0bdbd;
  color: #242323;
}

.visible {
  color: #242323;
  visibility: visible;
  opacity: 1;
}

.settings-icon {
  position: absolute;
  font-size: 2.5rem;
  bottom: 0;
  left: 0;
  display: block;
}

.key, .value {
  background: #242323;
  color: #c0bdbd;
  border: none;
  outline: none !important;
  margin-top: 20px;
  font-size: 1.5rem;
}

.key {
  text-align: center;
  margin-right: 20px;
}

.value {
  margin-right: 20px;
}

.quicklink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vh;
}

.tagname {
  font-size: 3rem;
}
