* {
  background: #242323;
  color: #c0bdbd;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.searchbar {
  border: none;
  outline: none !important;
  margin-top: -10%;
  width: 100%;
  text-align: center;
  font-size: 5rem;
}

.time {
    font-size: 3.5rem;
}
